@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Spectral+SC:wght@200&display=swap');
@import "tailwindcss";


@theme {
  --color-base: #0e1014;            /*Background*/
  --color-elevated: #1f140c;        /*card*/
  --color-elevatedLight: #363430            ;
  --color-ink: #d4cdb8;             /*text*/
  --color-muted: #9a9482;           /*text Muted*/
  --color-accent: #c8744a;          /*Copper Accent*/
  --color-structureAccent: #6a9080; /*Structure Accent*/
  --font-custom: "Inter";
  --font-title: "Spectral SC", "Inter";
}


/*TODO CONVERT THIS LATER!*/
input {
    border-width: 2px;
    width: fit-content;
}
.invalid{
    border-color: red;
    border-width: 3px;
}
.button-85{
    padding: 0.3em 1em;
    margin-left: .5em;
    color: rgb(255, 255, 255);
    background: #383838;
    border-radius: 10px;
    border-color: black;
}
.button-85:hover{
    background:#3c5569;
}
