@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Spectral+SC:wght@200&display=swap');
@import "tailwindcss";


@theme {
  --color-base: #0A0F0D;
  --color-elevated: #141D16;
  --color-ink: #E8ECE9;
  --color-muted: #8E988F;
  --color-accent: #47614A;
  --font-custom: "Inter";
  --font-title: "Spectral SC", "Inter";
}

input {
    border-width: 2px;
    width: fit-content;
}
.invalid{
    border-color: red;
    border-width: 3px;
}
.button-85{
    padding: 0.3em 1em;
    margin-left: .5em;
    color: rgb(255, 255, 255);
    background: #383838;
    border-radius: 10px;
    border-color: black;
}
.button-85:hover{
    background:#3c5569;
}
